if [ x$feature_default_font_path = xy ] ; then
   font=unicode
else
   font=$prefix/font.pf2
fi

if loadfont $font ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  terminal_output gfxterm
fi

set menu_color_normal=magenta/black
set menu_color_highlight=white/magenta

menuentry 'Verlian Install (Root Shell)' {
    set background_color=black
    linux    /install.amd/vmlinuz --- quiet
    initrd   /install.amd/initrd.gz
}
submenu 'Advanced options ...' {
    set menu_color_normal=magenta/black
    set menu_color_highlight=white/magenta
    menuentry '... Expert install' {
        set background_color=black
        linux    /install.amd/vmlinuz priority=low vga=788 ---
        initrd   /install.amd/initrd.gz
    }
    menuentry '... Rescue mode' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 rescue/enable=true --- quiet
        initrd   /install.amd/initrd.gz
    }
}
